.books-div {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 15px;
}

.books-container {
  border: 2px solid #e8e8e8;
  padding: 2rem;
}

.book-type {
  color: grey;
  font-size: 1.3rem;
  font-weight: bold;
}

.book-author {
  color: #4386bf;
  font-size: 1.2rem;
}

.remove-btn {
  border: none;
}

.btn {
  margin: 0 1rem;
}

.book-progress {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-chapter {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Oval-2 {
  border: 5px solid #d3d3d3;
  border-radius: 50%;
  border-top: 5px solid #379cf6;
  border-right: 5px solid #379cf6;
  border-bottom: 5px solid #379cf6;
  width: 4.25rem;
  height: 4.25rem;
  transform: rotate(40deg);
}

.Percent-Complete {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Update-progress {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.Current-Lesson {
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.Current-Chapter {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}
