.input-fields {
  padding: 1.5rem;
  background-image: url(../images/bookform.jpg);
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.forms {
  display: flex;
  gap: 2rem;
}

input {
  width: 40%;
  padding: 0.4rem;
}

::placeholder {
  font-size: 1rem;
  color: #c4c4c4;
}
