.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft h1 {
  color: #0290ff;
}
